<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Речицкий фарфоровый завод - Документы</title>
    <meta name="description" content="Список документов Речицкого фарфорового завода">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="nofollow">
    <meta property="og:title" content="Речицкий фарфоровый завод - Документы">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/about1.jpg">
    <meta property="og:url" content="https://www.rfz.ru:443/documents">
    <meta property="og:description" content="Список документов Речицкого фарфорового завода">
    <link rel="icon" href="/img/logo.jpg" type="image/jpeg" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@805&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/TextPlugin.min.js" defer></script>
    <link rel="stylesheet" href="/css/documents.css" type="text/css"/>
    <script src="/js/animation3.js" defer></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="/js/googleTranslate.js"></script>
</head>
<body>
<header>
    <div id="back-link">
        <a href="/">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
        <hr>
    </div>
</header>
<main class="main">
    <div class="title-container">
        <div class="title-left">
            <b>ДОКУМЕНТЫ ДОКУМЕНТЫ🖇️ДОКУМЕНТЫ📄ДОКУМЕНТЫ ДОКУМЕНТЫ</b>
        </div>
        <div class="title-right">
            <b>ДОКУМЕНТЫ ДОКУМЕНТЫ 🖋ДОКУМЕНТЫ 📃ДОКУМЕНТЫ ДОКУМЕНТЫ</b>
        </div>
        <div class="title-left">
            <b>ДОКУМЕНТЫ📄ДОКУМЕНТЫ ДОКУМЕНТЫ ДОКУМЕНТЫ 🖇️ДОКУМЕНТЫ</b>
        </div>
    </div>

    <hr>
    <div class="documents-container">
        <ul>
            <li><a href="/pdf/6. Сообщение_22 (предл.).pdf">Сообщение</a></li>
            <li><a href="/pdf/5. Сообщение_22 (созыв).pdf">Сообщение о проведении годового общего собрания акционеров</a></li>
            <li><a href="/pdf/alist0221.pdf">Список аффилированных лиц</a></li>
            <li><a href="/pdf/Аудиторское заключение РФЗ 2020.pdf">Аудиторское заключение 2020</a></li>
            <li><a href="/pdf/Сообщение_21.pdf">Сообщение о проведении годового общего собрания акционеров 2021</a></li>
            <li><a href="/pdf/Отчет об итогах ВОС_2020.pdf">Сообщение ВОСА 2020 РФЗ</a></li>
            <li><a href="/pdf/Сообщение ВОСА 2020 РФЗ.pdf">Сообщение о проведении внеочередного собрания акционеров 2020</a></li>
            <li><a href="/pdf/Годовой_отчет_за_2019_г_РФЗ_с_Приложениями.pdf">Годовой отчет за 2019г РФЗ с Приложениями</a></li>
            <li><a href="/pdf/ОТЧЕТ ОБ ИТОГАХ ГОЛОСОВАНИЯ РФЗ.pdf">ОТЧЕТ ОБ ИТОГАХ ГОЛОСОВАНИЯ РФЗ</a></li>
            <li><a href="/pdf/Сообщение_20 (2).pdf">Сообщение о проведении общего собрания акционеров акционерного общества в мае
                2020</a></li>
            <li><a href="/pdf/alist0120.pdf">Список аффилированных лиц</a></li>
            <li><a href="/pdf/spisok_al.pdf">Список аффилированных лиц</a></li>
            <li><a href="/pdf/Сообщение_20.pdf">Сообщение о проведении общего собрания акционеров акционерного общества в январе
                2020</a></li>
            <li><a href="/pdf/otchet_2019.pdf">Отчет об итогах голосования ГОСА 2019</a></li>
            <li><a href="/pdf/god_otchet_2018.pdf">Годовой отчет о деятельности АО «РФЗ» за 2018</a></li>
            <li><a href="/pdf/Soobshenie_o_provedenii_GOSA_2019.pdf">Сообщение о проведении ГОСА 2019</a></li>
            <li><a href="/pdf/polozhenie-o-sovete-direktorov.pdf">Положение о совете директоров</a></li>
            <li><a href="/pdf/polozhenie-ob-obshhem-sobranii-akcionerov.pdf">Положение об общем собрании акционеров</a></li>
            <li><a href="/pdf/ustav.pdf">Устав</a></li>
            <li><a href="/pdf/politika.pdf">Политика обработки персональных данных</a></li>
            <li><a href="/pdf/Uchetnaya_politika_2015.pdf">Учетная политика на 2015г.</a></li>
            <li><a href="/pdf/uch_politika_2016.pdf">Учетная политика на 2016г.</a></li>
            <li><a href="/pdf/uch_politika_2017.pdf">Учетная политика на 2017г.</a></li>
            <li><a href="/pdf/uch_politika_2018.pdf">Учетная политика на 2018г.</a></li>
            <li><a href="/pdf/Сообщение 1.pdf">Сообщение</a></li>
            <li><a href="/pdf/Сообщение 2.pdf">Сообщение</a></li>
            <li><a href="/pdf/Годовой отчет за 2021 г. РФЗ+Прил (1).pdf">Годовой отчет за 2021 г. РФЗ</a></li>
            <li><a href="/pdf/12. ОТЧЕТ ОБ ИТОГАХ ГОЛОСОВАНИЯ_22.pdf">Отчёт об итогах голосования 2022</a></li>
            <li><a href="/pdf/9. ОТЧЕТ ОБ ИТОГАХ ГОЛОСОВАНИЯ_23.pdf">Список аффилированных лиц 2022</a></li>
            <li><a href="/pdf/УВЕДОМЛЕНИЕ о намерении продать акции третьему лицу от АО РФЗ о.pdf">Уведомление о намерении продать акции третьему лиц</a></li>
            <li><a href="/pdf/Сообщение 22.05.2023.pdf">Сообщение о проведении годового общего собрания акционеров Акционерного общества
                «Речицкий фарфоровый завод»</a></li>
            <li><a href="/pdf/9. ОТЧЕТ ОБ ИТОГАХ ГОЛОСОВАНИЯ_23.pdf">Отчёт об итогах голосования годового общего сорбрания акционеров</a></li>
            <li><a href="/pdf/Уведомление о намерении продать акции третьему лиц 29062023.jpeg">Уведомление о намерении продать акции третьему лиц</a></li>
            <li><a href="/pdf/Сообщение.pdf">Сообщение о проведении внеочередного общего собрания акционеров Акционерного
                общества «Речицкий Фарфоровый Завод»</a></li>
            <li><a href="/pdf/otchet01112023.pdf">Отчёт об итогах голосования на общем собрании акционеров Акционерного общества
                «Речицкий фарфоровый завод» (АО «РФЗ»)</a></li>
            <li><a href="/pdf/notification_about_possibility.pdf">Уведомления о возможности осуществления преимущественного права приобретения
                акций</a></li>
            <li><a href="/pdf/Notice_of_the_results_of_the_exclusive_right_copy.pdf">Уведомления об итогах осуществления преимущественного права приобретения
                размещения фкций дополнительного выпуска акций</a></li>
            <li><a href="/pdf/Сообщение-о-ГОСА-2024-АО-РФЗ.pdf">Сообщение о ГОСА 2024 АО РФЗ</a></li>
            <li><a href="/pdf/Отчет-об-итогах-голосования.pdf">Отчёт об итогах голосования на общем собрании акционеров Акционерного общества «Речицкий фарфоровый завод» (АО «РФ3») «21» июня 2024 г.</a></li>
        </ul>
    </div>
</main>
<div class="block">
<div class="star">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 147" fill="none">
        <path d="M80 146.4L66.8 96.9L38 137.7L7.69995 113.7L47.8999 77.4L0.199951 63.9L12.7999 29.1L62.2999 54.6L67.1 0.599976L104.6 8.09997L88.0999 59.7L144.8 55.5L142.1 92.7L92.6 86.4L116 135.6L80 146.4Z"
              fill="#DF5454"/>
    </svg>
</div>
<div id="google_translate_element"></div>
</div>
<footer>
    <div class="policy">ⓒ 2024</div>
    <div class="links">
        <a href="https://vk.com/public216071530">VK&nbsp;</a>
        <a href="https://t.me/rfz1858">TG</a>
    </div>
    <div class="move-top-button">
        &#8593; <a href="#back-link">Вернуться наверх</a>
    </div>
</footer>
</body>
</html>