<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Речицкий фарфоровый завод</title>
<link rel="stylesheet" href="/css/login_pop_up.css" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main>
    <div class="left-block">
        <div class="header-title">Добро пожаловать!</div>
        <div class="img"><img src="/img/cups.jpg" width="100px"></div>
        <div class="register-link">
            <p>Еще не зарегистрировались?</p>
            <a href="http://localhost:81/register">Зарегистрируетесь сейчас</a>
        </div>
    </div>
    <div class="right-block">
        <div class="form-container">
            <form action="/submit" method="POST">
                <div class="inline-group">
                    <div class="form-group">
                        <label for="email"></label>
                        <input type="email" id="email" name="email" required placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" id="password" name="password" required placeholder="пароль">
                    </div>
                    <div class="form-group">
                        <button type="submit">войти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>