<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Фарфоровая продукция от Речицкого фарфорового завода</title>
    <meta name="description" content="Купить фарфоровую продукцию от Речицкого фарфорового завода. ✅ Технический фарфор, химико-лабораторная посуда, изделия МКР, оснастка для резинотехнических изделий ✅">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all">
    <meta property="og:title" content="Фарфоровая продукция от Речицкого фарфорового завода">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/about1.jpg">
    <meta property="og:description" content="Купить фарфоровую продукцию от Речицкого фарфорового завода. ✅ Технический фарфор, химико-лабораторная посуда, изделия МКР, оснастка для резинотехнических изделий ✅">
    <link rel="icon" href="/img/logo.jpg" type="image/jpeg" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/products.css" type="text/css"/>
    <script src="/js/products.js" defer></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="/js/googleTranslate.js"></script>
</head>
<body>
<header>
    <div class="categories">
        <ul>
            <li><a class="selected" href="/products/category/1">химико-лабораторная посуда</a></li>
            <li>·</li>
            <li><a href="/products/category/2">изделия МКР</a></li>
            <li>·</li>
            <li><a href="/products/category/3">мелющие тела</a></li>
            <li>·</li>
            <li><a href="/products/category/4">оснастка для резинотехнических изделий</a></li>
            <li>·</li>
            <li><a href="/products/category/5">сырье</a></li>
            <li>·</li>
            <li><a href="/products/category/6">готовая масса</a></li>
        </ul>
    </div>
    <div class="back-link">
        <a href="/">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
    </div>
</header>
<main class="main">
    <div class="title">Здесь вы найдете всю<br>продукцию нашего завода.</div>
    <label for="categorySelect" class="category-label">Категории:</label>
    <div class="select-block">
        <select id="categorySelect" class="category-select">
            <option value="/products/category/1">химико-лабораторная посуда</option>
            <option value="/products/category/2">изделия МКР</option>
            <option value="/products/category/3">мелющие тела</option>
            <option value="/products/category/4">оснастка для резинотехнических изделий</option>
            <option value="/products/category/5">сырье</option>
            <option value="/products/category/6">готовая масса</option>
        </select>
        <div class="arrow">
            <svg width="11" height="11" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path d="M 10,30 L 50,70 L 90,30" stroke="black" stroke-width="10" fill="none"/>
            </svg>
        </div>
    </div>
    <div class="products">
        {{#each viewData}}
            <div class="products-container">
                <div class="company">Речицкий фарфоровый завод</div>
                <div class="product-title">{{this.title}}</div>
                <div class="product-container">
                    {{#each this.products}}
                        <div class="product-block">
                            <a href="/products/item/{{this.id}}">
                                <div class="product-img"><img src="{{this.imageUrl}}"></div>
                                <div class="product-name">{{this.classification}}</div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</main>
<footer>
    <div class="links">СЛЕДИТЕ ЗА НАМИ&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://vk.com/public216071530">&nbsp;VK&nbsp;</a>
        <a href="https://t.me/rfz1858">&nbsp;TG</a>
    </div>
    <div class="contacts-info">
        <div id="google_translate_element"></div>
        <p>rfz@rfz.ru<br>+7 (499) 348-84-85</p>
        <p>Понедельник - Пятница<br>9:00 - 18:00</p>
        <p>140145, Московская обл.,<br>Раменский район, с.Речицы,<br>ул. Центральная, 2Б</p>
    </div>
</footer>
</body>
</html>
