* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    height: 100%;
    font-family: 'Open Sans';
    font-size: clamp(16px, 1.2vw, 19px);
    border-collapse: collapse;
}

.about-flex-item span {
    color: #DF5454;
    font-weight: bold;
}

.header {
    padding: 10px 25px;
}

.nav-item {
    margin-left: 15px;
}

.diagonal_line {
    position: absolute;
    border-top: 15px solid #DF5454;
    width: 550px;
    transform: rotate(-45deg);
    transform-origin: top left;
    z-index: 1;
}

.title h1 {
    font-size: clamp(2.388rem, 1.339rem + 4.24vw, 8.125rem);
    font-family: 'Exo 2';
}

.title-text {
    margin-top: 150px;
}

.title-text p {
    font-size: clamp(1.563rem, 1.143rem + 1.4vw, 4rem);
    font-family: "Familjen Grotesk";
}

.title-block {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

.arrow-down {
    font-size: 25px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
}

.horizontal_line {
    width: 40vw;
    border-top: 17px solid #DF5454;
    margin-right: 100px;
}

.slider {
    position: relative;
    width: 100%;
    height: clamp(37.5rem, 20rem + 28vw, 91.625rem);
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
}

a, li {
    text-decoration: none;
    color: #000;
    list-style: none;
}

menu {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-toggle {
    color: #000000;
    display: none;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-container {
    overflow: hidden;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-title, #login-form b {
    font-size: 20px;
}

.popup-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 25px;
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 20px;
}

#otp-popup .popup-content {
    display: block;
    width: 30%;
    flex-direction: column;
}

#otp-popup .form-group {
    text-align: center;
}

#otp-popup input  {
    text-align: center;
}

form *{
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.form-group {
    margin-top: 20px;
}

.left-block {
    width: 60%;
}

#login-form button, #sendOtpButton, #resendButton {
    margin-top: 40px;
    width: 100%;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    height: 70px;
    border-radius: 25px;
}

#resendButton {
    margin-top: 10px;
    background-color: #939393;
}

#login-form  button:hover {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

.form-group input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #000;
}

.register-link a {
    text-decoration: underline;
}

.popup-img {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.left-block img {
    width: 400px;
}

#about {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.photos .row {
    height: 400px;
}

.photo1 {
    width: 25%;
    background-image: url("/img/about5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000000;
}

.photo2 {
    width: 25%;
    background-image: url("/img/photo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000000;
}

.photo3 {
    width: 25%;
    border: 1px solid #000000;
}

.year {
    font-size: 70px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.photo4 {
    width: 25%;
    background-image: url("/img/photo6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000000;
}

.photo5 {
    width: 50%;
    text-align: right;
    padding: 15px;
    font-size: clamp(1rem, 0.346rem + 3.27vw, 3.438rem);
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
}

.photo6 {
    width: 25%;
    background-image: url("/img/photo5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #000000;
    background-size: cover;
}

.photo7 {
    width: 25%;
    padding: 15px;
    font-size: min(55px, 3.7vw);
    border: 1px solid #000000;
}

.catalog-title {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 25px;
    font-size: 16px;
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(25px, 0.42rem + 3.52vw, 60px);
    height: 200px;
    font-family: 'Exo 2';
}

.catalog-link img {
    width: 120px;
    height: 50px;
    object-fit: cover;
}

.update-text {
    display: none;
}

.about-flex-item-1, .about-flex-item-2, .about-flex-item-3, .about-flex-item-4 {
    width: 25%;
    border: 1px solid #000000;
    border-top: 0;
    padding: 25px;
    font-size: clamp(1.7rem, 1.3rem + 1.3vw, 3.7rem);
    text-align: right;
    height: 300px;
}

.circle {
    text-align: left;
}

.circle svg, .star svg {
    fill: currentColor;
    height: auto;
    transform-origin: center;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}

.about-flex-item {
    display: block;
    border: 1px solid #000000;
    padding: 25px;
    font-size: clamp(1rem, 0.188rem + 0.86vw, 1.563rem);
    height: 400px;
    width: 25%;
}

.about-flex-item img {
    object-fit: cover;
}

.about-flex-item-long-image {
    border: 1px solid #000000;
    padding: 25px;
    height: 400px;
    width: 50%;
}

.about-flex-item-long-image img{
    width: 100%;
    height: 100%;
}

.logo-scroller-block {
    overflow: hidden;
    border: 1px solid #000000;
}

.logo-scroller {
    padding: 22px 0;
    display: flex;
    animation: moveTextLeft 50s linear infinite;
}

.logo-scroller-title {
    display: flex;
    font-size: clamp(1.25rem, 1.071rem + 0.89vw, 2.5rem);
}

.logo-scroller-title p {
    padding-left: 20px;
}


.logo-scroller img {
    margin-left: 120px;
    width: 80px;
    height: 80px;
}

@keyframes moveTextLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.presentation-wrapper {
    padding: 20px 25px;
    font-size: clamp(2.188rem, 1.339rem + 4.24vw, 8.125rem);
    text-align: left;
    font-family: 'Exo 2';
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
}


.stone-img img{
    width: 400px;
}

.footer {
    display: flex;
    flex-direction: column;
}

#profile-link {
    cursor: pointer;
}

.goog-te-gadget .goog-te-combo {
    appearance: initial;
    background-color: #ffffff;
}

.footer-flex-item {
    width: 25%;
    display: flex;
    align-items: flex-end;
    padding: 20px 35px;
    font-size: clamp(1rem, 0.9rem + 0.35vw, 1.58rem);
    border: 1px solid #000000;
}

@media screen and (max-width: 1224px) {
    .horizontal_line {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .about-flex-item, .about-flex-item-long-image {
        padding: 10px;
        height: 300px;
    }

    .stone-img img{
        width: 200px;
    }

    .popup-content {
        flex-direction: column;
        width: 85%;
    }

    .popup-img {
        width: 100%;
        padding: 30px;
    }

    .left-block {
        width: 100%;
    }

    .left-block img {
        width: 300px;
    }
}

@media screen and (max-width: 796px) {
    #menu-toggle {
        display: block;
    }

    #menu-container {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #ffffff;
        width: 100vw;
        z-index: 2;
        top: 60px;
        left: 0;
        height: 100vh;
        padding: 20px;
    }

    .nav-item {
        margin-left: 0;
        font-size: 18px;
        width: 100%;
        margin-top: 15px;
        border-bottom: 1px solid #000000;
    }

    #menu-container.active {
        display: block;
    }

    #otp-popup .popup-content {
        width: 85%;
    }

    .header, .catalog-title {
        padding: 10px 20px;
    }

    .logo img {
        width: 50px;
    }

    menu {
        font-size: 16px;
    }

    .slider {
        margin-top: 100px;
        height: 425px;
    }

    #login-form b {
        font-size: 17px;
    }

    .circle svg {
        width: 100px;
    }

    .about-flex-item p {
        font-size: 1.1em;
    }

    .logo-scroller img {
        margin-left: 60px;
        width: 70px;
        height: 70px;
    }

    .footer-flex-item {
        padding: 20px 10px;
    }
    .header {
        padding: 10px 16px;
    }
    .catalog {
        height: 200px;
        border: 1px solid #000000;
    }

    .catalog-title {
        padding: 5px 10px;
        font-size: 10px;
    }

    .catalog-link img {
        width: 50px;
        height: 30px;
    }

    .about-flex-item-long-image {
        padding: 0;
        height: auto;
        border: 0;
    }

    #about .row:nth-child(3) .about-flex-item-long-image {
        display: flex;
        justify-content: right;
        padding-right: 16px;
    }

    #about .row:last-child .about-flex-item-long-image {
        padding-left: 16px;
        padding-bottom: 16px;
    }

    #about .row:nth-child(3) .about-flex-item-long-image img,
    #about .row:last-child .about-flex-item-long-image img{
        width: 70%;
    }

    .about-flex-item-2 {
        text-align: center;
    }

    .title-wrapper {
        margin-top: 5px;
    }

    .circle {
        padding-left: 32%;
    }

    .about-flex-item-4 {
        padding: 0;
    }

    .about-flex-item-1, .about-flex-item-2, .about-flex-item-3, .about-flex-item-4 {
        height: 200px;
    }

    .about-flex-item-2, .about-flex-item-4, .photo2, .photo3 {
        width: 50%;
    }

    .photo5 p::after {
        content: ' Основания';
        font-weight: bold;
    }

    .about-flex-item-long-image, .footer-flex-item, .photo5, .about-flex-item {
        width: 100%;
    }

    .about-flex-item {
        height: auto;
        padding: 40px 80px 40px 16px;
        border: 0;
    }

    .update-text {
        display: block;
    }

    .update-text p {
        margin-top: 20px;
    }

    .bottom p{
        margin-top: 0;
        margin-bottom: 20px;
    }

    .delete,
    .footer .row:first-child .footer-flex-item:nth-child(2),
    .footer .row:first-child .footer-flex-item:nth-child(3),
    .footer .row:first-child .footer-flex-item:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 10px 16px;
    }
    .title-block {
        display: block;
    }
    .about-flex-item {
        height: auto;
        padding: 70px 16px;
    }
    .slider {
        height: 325px;
        margin-top: 25px;
    }
    .presentation-wrapper {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
    }
    .photos .row:nth-child(2) {
        height: 200px;
    }
    .title-text {
        margin-top: 60px;
    }
    .arrow-down {
        margin-top: 50px;
    }
    .left-block img {
        width: 200px;
    }
    .photos .row {
        height: 300px;
    }
}